* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #31343E;
  --secondary-color: #A0C8CE;
  --tertiary-color: #EDEEF7;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/* Header styling start */

header {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  top: 0;
  background-color: var(--primary-color);
}

header h1 a{
  font-weight: bold;
  padding: 5px 5px 5px 40px;
  font-size: 4vw;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  text-decoration: none;
  margin: 0;
}

nav {
  margin: 7px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 5px;
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  margin-right: 10px;
  font-size: 20px;
  font-weight: 400;
}

nav a:hover {
  color: var(--tertiary-color);
}
/* Header Styling End */

/* Hero Section Styling Start */
.hero {
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
}

.hero img {
  width: 20%;
}

.hero h3 {
  width: 20%;
  padding: 5px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-size: 2vw;
  text-align: center;
  margin: 0;
  height: 5%;
}

.main {
  margin-top: 20px;
  margin-bottom: 30px;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.section h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid var(--primary-color);
  font-size: 3vw;
  color: var(--primary-color);
}

.section p, .section div {
  flex: 0 0 75%;
  font-size: 1.5vw;
  color: var(--primary-color)
}

.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.contact-links a {
  text-decoration: none;
  font-size: 20px;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.contact-links a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.grid-container {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(150px, 1fr);
}

.grid-item {
  border: 3px solid white;
  align-items: flex-start;
  grid-column: span 4;
  min-height: 150px;
  padding: 5px;
  text-decoration: none;
}

.grid-item:hover {
  opacity: 0.5;
}

.grid-item:first-child {
  grid-column: span 8;
  grid-row: span 2;
}

.project-title {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

#project-one {
  background-image: url("../images/Screen\ Shot\ 2020-10-15\ at\ 9.28.32\ AM.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#project-two {
  background-image: url("../images/Screen\ Shot\ 2020-09-27\ at\ 7.43.55\ PM.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#project-three {
  background-image: url("../images/get-hitched-illustrator-logo-05.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#project-four {
  background-image: url("../images/Screen\ Shot\ 2020-10-15\ at\ 9.01.10\ AM.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#project-five {
  background-image: url("../images/Screen\ Shot\ 2021-02-07\ at\ 9.21.55\ PM.png");
  background-size: cover;
  background-repeat: no-repeat;
}